//- Copyright 2017, Google, Inc.
 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.

extends ../base.pug

block content
  link(rel='stylesheet', href='https://Pranjal916.github.io/public-hosted-files/style-view.css', type='text/css')
  h3 Item Posted
    small

  if profile
    if profile.displayName == book.createdBy
      .btn-group
        a(href=`/items/${book.id}/edit`, class='btn btn-primary btn-sm')
          i.glyphicon.glyphicon-edit
          span  Edit item
        a(href=`/items/${book.id}/delete`, class='btn btn-danger btn-sm')
          i.glyphicon.glyphicon-trash
          span  Delete item

  .media
    .media-left
      img(src=book.imageUrl || "http://placekitten.com/g/128/192")
    .media-body
      h2 <span class="title">#{book.title}</span>
        | ,&nbsp; 
        <span class="price"> $#{book.price}</span>
      h5 <span class="condition">Condition:</span> #{book.condition||'unknown'}
      p= book.description
      p <span class="author">Added by:</span> #{book.createdBy}
      p <span class="timeStamp">Date Posted:</span> #{book.timeStamp}
      p <span class="contact">Contact number:</span> #{book.contactNumber}
